<form>
<table>
<tr>
    <td>Username : </td>
    <td><input type='text' placeholder="tai khoan"></td>
</tr>
<tr>
    <td>Password : </td>
    <td><input type='text' placeholder="mat khau"></td>
</tr>
<tr>
    <td>Username : </td>
    <td><input type='text' placeholder="username"></td>
</tr>
<tr>
    <td><a href="#">About me</a></td>
    <td><a href="#">Back</a></td>
</tr>
</table>
</form>
